.hero-unit
  %h1 Scribble on your Friends' Facebook Cover Photos!
  %h4 Jeff Kao's Facebook Hackathon '13 Project
  %br
  %ul.providers
    %li
      %a{ :href => "/auth/facebook", :class => "btn btn-facebook" }
        %span Sign in with Facebook
