%h3 Scribble on your Friends' Facebook Cover Photos!
%ul.providers
  %li
    %a{ :href => "/auth/facebook", :class => "btn btn-facebook" }
      %i.icon-facebook-sign.pull-left
      %span Sign in with Facebook
