html {
  background-color: #F5F5F5;
}

body {
  background-color: #F5F5F5 !important;
}

#cover-scribble-wrapper {
  padding: 0 15px;
}

#cover-photo-wrapper {
  background-color: #C9C9C9;
  margin: 10px auto;
  position: absolute;
  padding: 0 5px;
}

.canvas-layer {
  margin: 10px auto;
  cursor: crosshair;
  position: absolute;

  border: 1px solid #BABABA;
}

#cover-photo {
  z-index: 2;
}

#profile-photo-wrapper {
  position: absolute;
  z-index: 5;
  background-color: white;
  left: 25px;
  top: 170px;

  height: 172px;
  width: 172px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #BABABA;
}

#profile-photo {
  width: 168px;
  height: 168px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid white;
}

#tools {
  position: absolute;
  top: 425px;
}

#tmp-canvas {
  z-index: 4;
}

.sp-container {
  border-color: #B8B8B8 !important;
}

.center {
  text-align: center;
}

button.fb-color {
  background-color: hsl(217, 50%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#527ec5", endColorstr="#315795");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#527ec5), to(#315795));
  background-image: -moz-linear-gradient(top, #527ec5, #315795);
  background-image: -ms-linear-gradient(top, #527ec5, #315795);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #527ec5), color-stop(100%, #315795));
  background-image: -webkit-linear-gradient(top, #527ec5, #315795);
  background-image: -o-linear-gradient(top, #527ec5, #315795);
  background-image: linear-gradient(#527ec5, #315795);
  border-color: #315795 #315795 hsl(217, 50%, 35%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}
