
#cover-scribble-wrapper
  #cover-photo-wrapper
    #profile-photo-wrapper
      %a#profile-photo-link{ :href => "#" }
        %img#profile-photo{ :src => @profile_picture_url }
    %canvas.canvas-layer#bottom-canvas{ :width => "851", :height => "315" }
    %canvas.canvas-layer#cover-photo{ :width => "851", :height => "315" }
  #tools

    #size-picker-wrapper
      #size
        Size: 5
      #size-picker

    %button#clear-canvas.btn.fb-color{ :type => "button" } Clear Canvas

    %a#save.btn.fb-color{ :href => "#", :role => "button" } Save

    %input#color-picker{ :type => 'text' }

    #facebook-friend-dialog

= render :partial => "layouts/fb"
= render :partial => "layouts/user"
= render :partial => "cover_photos/upload"
= render :partial => "cover_photos/initial"
